
html, body {
  margin: 0; padding: 0;
  width: 100%; height: 100%;
}

.art-info {
  position: absolute;
  top: 10px; right: 15px;
  max-width: 630px;
  color: rgb(44, 44, 44);
}

  .art-title {
    font-family: 'Helvetica', sans-serif;
    font-size: 86px;
    font-weight: bolder;
  }

  .art-subtitle {
    margin-top: 20px;
    font-family: 'Times New Roman', serif;
    font-size: 32px;
  }

  .about-artist {
    float: right;
    margin-top: 40px;
    margin-right: 25px;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
  }
    .about-artist a {
      color: inherit;
      text-decoration: none;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    }
      .about-artist a:hover, .about-artist a:focus {
        text-decoration: underline;
      }

  .social {
    float: right;
    margin-top: 40px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  }
    .social-button {
      padding: 5px;
      text-align: right;
    }


.art-container {
  opacity: 0;
  transition: all 1s;
}

.video-row {
  margin: 7px 5px;
  overflow-y: hidden;
  white-space: nowrap;
}

  .video-sound-button {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    text-align: right;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  }
    .video-sound-button:hover, .video-sound-button:focus {
      text-decoration: underline;
    }

  .video-thumbnail-container {
    display: inline-block;
    transition: all 400ms;
  }
    .video-thumbnail-container:hover video, .video-thumbnail-container:focus video {
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
      transform: scale(1.02) skewX(-2deg) skewY(1deg);
    }

  .video-thumbnail {
    display: inline-block;
    vertical-align: middle;
    width: 125px;
    margin: 10px 0 10px 15px;
    transition: transform 400ms;
  }

.not-chrome-message {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  box-sizing: border-box;
  padding: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(30, 30, 30);
  font-family: 'Helvetica', sans-serif;
  font-size: 64px;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.05);
}
  .not-chrome-message a {
    color: inherit;
    text-decoration: underline;
  }

@media
only screen and (max-width: 560px),
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 1120px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 1120px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 1120px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 1120px),
only screen and (                min-resolution: 192dpi) and (max-width: 1120px),
only screen and (                min-resolution: 2dppx)  and (max-width: 1120px) {
  .art-info {
    position: relative;
    top: 0; left: 0;
    margin-left: 20px;
    margin-top: 10px;
  }
  .about-artist, .social {
    float: inherit;
    display: inline-block;
    margin-right: 0;
    margin-left: 20px;
  }
  .art-container {
    margin-top: 40px;
  }
}
